@import "../../vars.css";


.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 2rem;
    z-index: 1;
    margin: 20%;

    box-shadow: 
    0px 1px 2px  #FFA502, 
    0px 2px 4px #FFA502, 
    0px 4px 6px  #FFA502, 
    0px 6px 8px  #FFA502;
}

.title {
    color: var(--color-text);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid var(--orange);
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-size:  1rem;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-align: left;
    text-justify: inter-word;
    line-height: 1.5;
    color: var(--orange);
    cursor: none;
}

[glow] .description {
    color: var(--glow-color);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.name, .email, .message {
    font-size: 1.1rem;
    width: 80%;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--color-text);
    border-radius: 0.5rem;
    background: var(--color-secondary);
}



.submit {
    font-size: 1.1rem;
    padding: 0.75rem 3.5rem;
    color: var(--color-text);
    border-radius: 0.5rem;
    background: var(--orange);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.submit:hover {
    background: var(--color-primary);
}

.socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem auto;
    padding-bottom: 0.7rem;
    color: var(--color-text);
    cursor: pointer;
    gap: 1rem;

}

.socialIcons a {
    
    color: var(--color-text);
    transition: all 0.2s ease-in-out;
}

.socialIcons a:hover {
    transform: scale(1.2);
    color: var(--orange);

}


@media screen and (max-width: 940px) {
    .container {
        padding: 20px; 
        margin: 130px 5%;
    }
    .title {
        font-size: 1.5rem; 
        letter-spacing: 1.25px; 
    }

    .description {
        font-size: 1rem;
    }  
    
    .name, .email, .message {
        font-size: 1rem;
    }

    .submit {
        font-size: 1rem;
        padding: 0.75rem 3rem;
    }

    .socialIcons {
        font-size: 1.2rem;
    }


    
}

@media screen and (max-width: 390px) {
    .title {
        font-size: 1.2rem; 
        letter-spacing: 1px; 
    }

    .description {
        font-size: 0.9rem;
    }
    .name, .email, .message {
        font-size: 0.9rem;
    }  

    .submit {
        font-size: 0.9rem;
        padding: 0.75rem 2.5rem;
    }

    .socialIcons {
        font-size: 1rem;
    }
    
}
