@import "../../vars.css";

.container {
    color: var(--color-text);
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    margin: 130px auto;
    max-width: 80%;
    padding: 2rem;

    box-shadow: 
    0px 1px 2px  #248C42, 
    0px 2px 4px #248C42, 
    0px 4px 6px  #248C42, 
    0px 6px 8px  #248C42;

 

}

.title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid var(--green);
}

.description {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.25px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 100%;

}

.name, .email, .message {
    font-size: 1.1rem;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--color-text);
    border-radius: 0.5rem;
    background: var(--color-secondary);
}



.submit {
    font-size: 1.1rem;
    padding: 0.75rem 3.5rem;
    color: var(--color-text);
    border-radius: 0.5rem;
    background: var(--green);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.submit:hover {
    background: var(--color-primary);
}

.socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem auto;
    padding-bottom: 0.7rem;
    color: var(--color-text);
    cursor: pointer;
    gap: 1rem;

}

.socialIcons a {
    
    color: var(--color-text);
    transition: all 0.2s ease-in-out;
}

.socialIcons a:hover {
    transform: scale(1.2);
    color: var(--green);

}


@media screen and (max-width: 844px) {
    .container {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;
    }
    .title {
        font-size: 1.5rem; 
        letter-spacing: 1.25px; 
    }

    .description {
        font-size: 1rem;
    }  
    
    .name, .email, .message {
        font-size: 1rem;
    }

    .submit {
        font-size: 1rem;
        padding: 0.75rem 3rem;
    }

    .socialIcons {
        font-size: 1.2rem;
    }


    
}

@media screen and (max-width: 390px) {
    .title {
        font-size: 1.2rem; 
        letter-spacing: 1px; 
    }

    .description {
        font-size: 0.9rem;
    }
    .name, .email, .message {
        font-size: 0.9rem;
    }  

    .submit {
        font-size: 0.9rem;
        padding: 0.75rem 2.5rem;
    }

    .socialIcons {
        font-size: 1rem;
    }
    
}