@import "../../vars.css";

.navbar {
    width: 100vw;
    height: 4rem;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 6;
    background: transparent;
    backdrop-filter: blur(10px);
}

.menu {
    display: flex;
    margin-left: 5%;
}

.menuBtn {
    font-size: 3rem;
    color: var(--color-text);
    cursor: pointer;
}


.menuItem {
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;
    padding-bottom: 0.7rem;
    color: var(--color-text);
    cursor: pointer;

}

.menuItem:hover {
    color: var(--green);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--green);

}

.active {
    color: var(--green);
}

.socialIcons {
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 5%;
    padding-bottom: 0.7rem;
    color: var(--color-text);
    cursor: pointer;
    gap: 1rem;

}

.socialIcons a {
    
    color: var(--color-text);
    transition: all 0.2s ease-in-out;
}

.socialIcons a:hover {
    transform: scale(1.2);
    color: var(--green);

}

.menuBtn {
    display:  none;
}





@media screen and (max-width: 720px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        z-index: 3;
        height: fit-content;
        

    }

    .menuBtn{
        margin-top: 0.5rem;
        display: block;
        cursor: pointer;
    }
    
    .menuItem {
        display: none;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin: 0.25rem 0;
        padding: 1rem;
        color: var(--color-text);
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        background-color: var(--color-secondary);
    }


    .menuOpen {
        margin-top: 2rem;
        display: flex;
        z-index: 1;
    }

    .socialIcons {
        margin-top: 1rem;
        margin-left: 5%;

    }


}