.navbar {
    width: 100vw;
    height: 5rem;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;

}


.logo {
    object-fit: cover;
    height: 4rem;
    width: 3.5rem;
    margin-top: 20px;
    box-shadow: 0px 1px 2px  #248C42, 
                0px 2px 4px #248C42, 
                0px 4px 8px  #248C42, 
                0px 8px 16px  #248C42;
    
    

}

.menu-item {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;
    color: #F9FCED;
    cursor: pointer;

}

.menu-item:hover {
    color: #248C42;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #248C42;

}

.social-icons {
    display: flex;
    padding-right: 25px;
    gap: 20px;
    font-size: 1.2rem;

}

.social-icons a {
    color: #F9FCED;
    transition: all 0.2s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #248C42;

}