@import "../../vars.css";


.footer {
    width: 100vw;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    color: var(--orange);
    font-size: 0.8rem;
    font-weight: 500;

}