@import "../../vars.css";


.footer {
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    color: var(--green);
    font-weight: 500;
}